USE [HmhEmployee_2410900040_Db.sql]
GO
/****** Object:  Table [dbo].[HmhEmployee]    Script Date: 9/26/2026 12:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HmhEmployee](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[HmhName] [nvarchar](20) NULL,
	[HmhGender] [bit] NULL,
	[HmhBirthDay] [date] NULL,
	[HmhEmail] [varchar](50) NULL,
	[HmhPhone] [int] NULL,
	[HmhActive] [varchar](20) NULL,
 CONSTRAINT [PK_HmhEmployee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
